@keyframes myHover {
    0% {background-color: transparent;}
    100% {background-color: rgba(37, 37, 37, 0.3);}
}

body {
    background: url("../img/bg.png") repeat;
}

a:hover,a:active,a:focus {
    text-decoration:none;
}

.main {
    background-color: white;
    margin: 30px 100px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.index-icon {
    width: 45px;
    height: 45px;
}
.commentName {
    padding-top: 14px;
}

.commentText {
    margin: 10px 0;
}

.endLine {
    margin-bottom: 10px;
    float: right;
}

.subLine {
    padding-top: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.topSpace {
    padding-top: 10px;
}

.text-desc, .text-desc *, .edit a {
    font-size:12px;
    color:#999999;
}

.profile .section{
    margin-top: 15px;
}

.item button {
    background: transparent;
}
.item button:hover {
    animation:myHover 1s;
}

.section a {
    border: none;
}
.noneBorder * {
    border: none;
}

.section a:active {
    background-color: #337ab7;
}