<!DOCTYPE html>
<html lang="ne" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${question.title} + '- qwq_noi community'"></title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <!-- index.css -->
    <link rel="stylesheet" href="/css/index.css"/>
    <!-- JQuery -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <!-- get question information -->
    <script src="/js/community.js"></script>
    <!-- 事件处理类 -->
    <script src="/js/moment.js"></script>
</head>
<body>
<div th:replace="~{navigation :: nav}"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-xs-12 col-sm-12">
            <!--浏览主页-->
            <h3><span th:text="${question.title}"></span></h3>
            <ul class="list-inline text-desc">
                <li>作者: <span th:text="${question.usr.name}"></span></li>|
                <li>阅读量: <span th:text="${question.viewCount}"></span></li>|
                <li>点赞数: <span th:text="${question.likeCount}"></span></li>|
                <li>
                    发布时间: <span th:text="${#dates.format(question.gmtCreate, 'yyyy-MM-dd HH:mm')}"></span>
                </li>
            </ul>
            <hr>
            <div th:utext="${question.description.replaceAll('\n', '<br>')}"></div>
            <hr>
            <ul class="list-inline text-desc edit">
                <li th:if="${(session.usr!=null)&&(question.creator==session.usr.id)}">
                    <a th:href="@{/publish/{id}(id=${question.id})}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>编辑
                    </a>
                </li>
            </ul>
            <div>
                <!--评论条-->
                <ul class="nav nav-tabs" style="margin: 10px 0">
                    <li>
                        <h3><span th:text="${question.commentCount}"></span> 条评论</h3>
                    </li>
                </ul>
                <!-- 评论体 -->
                <div th:each="comment : ${comments}">
                    <div class="media subLine">
                        <div class="media-left"> <!-- 头像 -->
                            <a href="#">
                                <img class="media-object index-icon img-rounded"
                                     th:src="${comment.usr.avatarUrl}"
                                     alt="这应该是头像">
                            </a>
                        </div>
                        <div class="media-body" style="padding-top: 3px" th:id="${'comment-body-'+comment.id}"> <!-- body -->
                            <h6 class="media-heading"><span th:text="${comment.usr.name}"></span></h6>
                            <div th:utext="${comment.content.replaceAll('\n', '<br>')}"></div>
                            <!-- 点赞回复等功能 -->
                            <ul class="noneBorder text-desc item nav nav-pills">
                                <li>
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                    <span th:text="${comment.likeCount}"></span>
                                </li><!-- 点赞 -->
                                <li th:data-id="${comment.id}" onclick="collapseComment(this)">
                                    <span class="glyphicon glyphicon-comment"></span>
                                    <span th:text="${comment.commentCount}"></span>
                                </li><!-- 评论 -->
                                <span style="float:right;"
                                      th:text="${#dates.format(comment.gmtCreate, 'yyyy-MM-dd HH:mm')}">
                                </span><!--日期-->
                            </ul>

                            <div class="collapse boxLine marginBottom commentPanel" th:id="${'comment-' + comment.id}">
                                <!--这是二级评论主体-->
                                <div class="bottomSpace">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="发表你的想法..."
                                               th:id="${'reply-' + comment.id}">
                                        <span class="input-group-btn">
                                                <button class="btn btn-success" type="button" th:data-id="${comment.id}"
                                                        onclick="comment2Comments(this)">评论</button>
                                        </span>
                                    </div>
                                </div><!-- 二级评论条 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 提问框 -->
            <div class="topSpace" id="comment_section" th:if="${session.usr != null}">
                <div class="media">
                    <div class="media-left">
                        <a href="/profile/question">
                            <img class="media-object index-icon img-rounded"
                                 th:src="${session.usr.avatarUrl}" alt="这应该是头像">
                        </a>
                    </div>
                    <div class="media-body commentName">
                        <h5 class="media-heading">
                            <span th:text="${session.usr.name}"></span>
                        </h5>
                    </div>
                </div>
                <input type="hidden" id="question_id" th:value="${question.id}">
                <textarea class="form-control commentText" rows="3"></textarea>
                <button type="button" class="btn btn-success endLine" onclick="post()">回复</button>
            </div>
        </div>
        <!-- 右侧边框 -->
        <div class="col-lg-3 col-md-12 col-xs-12 col-sm-12">
            <div>
                <h4>发起人</h4>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object index-icon img-rounded"
                                 th:src="${question.usr.avatarUrl}"
                                 alt="这应该是头像">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span th:text="${question.usr.name}"></span>
                        </h5>
                    </div>
                </div>
            </div>
            <hr>
            <div>
                <h4>相关问题</h4>
            </div>
        </div>
    </div>
</div>
</body>
</html>